@import '../../sass/variables';
@import '../../sass/basis';

.projectMainInfo{
    @include flexBox(column, center, center, 4rem);
    &__item:nth-child(2){
        .title{
            font-size: 3rem;
            margin-bottom: 2rem;
        }

        .details{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem 3.5rem;
            width: 25rem;
            &__info{
                @include flexBox(row, flex-start, center, 1rem);
                font-size: 1.1rem;
                font-family: 'Brandon-Grotesque';
                font-weight: normal;
                font-style: normal;
                color: #FFFFFF;
            }
        }
    }

    &__item:nth-child(3){
        font-family: 'Brandon-Grotesque';
        font-weight: normal;
        font-style: normal;
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-areas: 
            "one two"
            "three three"
        ;
        justify-items: center;
        column-gap: 2rem;
        row-gap: 4rem;

        .token__info:first-child{
            grid-area: one;
        }
        .token__info:nth-child(2){
            grid-area: two;
        }
        .token__info:last-child{
            grid-area: three;
        }
        .token__info{
            display: grid;
            gap: 2rem;
            .item:first-child{
                background: linear-gradient(135deg,#0819B8, #2637DC, #0819B8);
                border: solid .2rem $primaryBlueAlt;
                border-radius: .2rem;
                padding: .5rem 1.8rem;
                width: 16.5rem;
                @include flexBox(column, center, flex-start);
                .name{
                    font-size: 1.4rem;
                    padding: .2em 0;
                    color: #FFFFFF;
                }

                .value{
                    font-size: 1.9rem;
                    padding: .2em 0;
                    color: $primaryYellow;
                }
            }

            .item:last-child{
                text-align: center;
                color: #FFFFFF;
                font-size: 1.9rem;

                span{
                    font-size: 1.4rem;
                    font-weight: normal;
                }
            }
        }
    }

    &__item:last-child{
        max-width: 25rem;
        position: relative;
        img:last-child{
            position: absolute;
            bottom: 0;
            left: 10rem;
        }
    }
}