@import 'variables';
@import 'basis';

@include media-sm {
    .project{
        &__top{
            .container{
                .projectMainInfo{
                    &__item:first-child{
                        text-align: center;
                        @include flexBox(column, center, center, 3.4rem);
                        .details{
                            padding-left: 2.5rem;
                        }
                        margin-bottom: 5rem;
                    }
                }
            }
        }
        &__down{
            .project__tokenomics{
                margin-bottom: 5rem;
            }
        }
    }
}
@include media-md {
    .project{
        &__top{
            .container{
                .projectMainInfo{
                    &__item:first-child{
                        text-align: center;
                        @include flexBox(row, center, center, 2.4rem);
                        .details{
                            padding-left: 2.5rem;
                        }
                        margin-bottom: 5rem;
                    }

                    &__item:nth-child(2){
                        grid-template-areas: 
                            "one two three"
                        ;
                        justify-content: center;
                    }
                }
            }
        }
        &__down{
            .project__tokenomics{
                margin-bottom: 5rem;
            }
        }

    }
}
@include media-lg {
    .project{
        &__top{
            .container{
                .projectMainInfo{
                    @include flexBox(row, space-between, center);

                    &__item:first-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
        &__down{
            @include flexBox(row, space-between, center);

            .project__tokenomics{
                width: 37.5%;
            }

            article:last-child{
                width: 57.5%;
            }
        }
    }
}
@include media-mlg {
    .project{
        &__top{
            .container{
                .projectMainInfo{
                    &__item:last-child{
                        display: block;
                    }
                }
            }
        }
    }
}


