$primaryBlue: #0616B6;
$primaryDeepBlue: #00008C;
$primaryBlueAlt: #0819B8;
$primaryYellow: #FFDE00;

$border: #3842C1;
$borderBlue: #090AC1;
$borderVeryDeepBlue: #000A8B;
$borderDeepBlue: #02039D;
$borderLight: #FFFFFF;
$borderYellow: #FFDE00;
$borderLightYellow: #FDEF90;

$secondaryVeryDeepBlue: #000046;
$secondaryDeepBlue: #000A8B;
$secondaryBlue: #0819B8;
$secondaryYellow: #FFE227;
$secondaryDeepYellow: #CDB410;
$secondarywhite: #EDEDED;
$secondaryLightYellow: #FFF3A4;
$secondaryGreen: #3AFF00;




