@import '../fonts/ProximaSoft/stylesheet.css';
@import '../fonts/Brandon-Grotesque/stylesheet.css';
@import '../fonts/ProximaSoft/stylesheet.css';
@import '../fonts/Brandon-Grotesque/stylesheet.css';
@import '../fonts/ProximaSoft/stylesheet.css';
@import '../fonts/Brandon-Grotesque/stylesheet.css';
@import '../fonts/ProximaSoft/stylesheet.css';
@import '../fonts/Brandon-Grotesque/stylesheet.css';
@import '../fonts/ProximaSoft/stylesheet.css';
@import '../fonts/Brandon-Grotesque/stylesheet.css';
@import '../fonts/ProximaSoft/stylesheet.css';
@import '../fonts/Brandon-Grotesque/stylesheet.css';
@import '../fonts/ProximaSoft/stylesheet.css';
@import '../fonts/Brandon-Grotesque/stylesheet.css';
@import '../fonts/ProximaSoft/stylesheet.css';
@import '../fonts/Brandon-Grotesque/stylesheet.css';
@import '../fonts/ProximaSoft/stylesheet.css';
@import '../fonts/Brandon-Grotesque/stylesheet.css';
@import '../fonts/ProximaSoft/stylesheet.css';
@import '../fonts/Brandon-Grotesque/stylesheet.css';
@import '../fonts/ProximaSoft/stylesheet.css';
@import '../fonts/Brandon-Grotesque/stylesheet.css';
@import '../fonts/ProximaSoft/stylesheet.css';
@import '../fonts/Brandon-Grotesque/stylesheet.css';
@import '../fonts/ProximaSoft/stylesheet.css';
@import '../fonts/Brandon-Grotesque/stylesheet.css';
@import '../fonts/ProximaSoft/stylesheet.css';
@import '../fonts/Brandon-Grotesque/stylesheet.css';
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  background-color: #0616B6;
}

.container {
  width: 95%;
  max-width: 1500px;
  margin: auto;
}

.title {
  font-size: 2.75rem;
  color: #FFFFFF;
  font-family: "Brandon-Grotesque";
  font-weight: black;
  font-style: normal;
}

.paragraph {
  color: #FFDE00;
  font-size: 2rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
}

.connect__wallet--link {
  color: #FFDE00;
  font-size: 2rem;
  padding: 0.35em 0.75em;
  border: solid 0.1rem #FFDE00;
  border-radius: 0.5rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
}
.connect__wallet--link:hover {
  background-color: #FFDE00;
  color: #00008C;
}

.form__link {
  color: #000000;
  border: none;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
  font-size: 1.7rem;
  background-color: #FFDE00;
  display: inline-block;
  padding: 0.75rem 4rem;
  border-radius: 0.4rem;
}
.form__link:hover {
  background-color: #CDB410;
}

.progress__indicator--wrapper {
  padding-bottom: 5rem;
}
.progress__indicator--wrapper small {
  font-size: 1.3rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
  color: #FFDE00;
}
.progress__indicator--wrapper .progress__indicator {
  border: solid 0.025rem #3842C1;
  max-width: 25rem;
  height: 1rem;
  background-color: #FFFFFF;
  margin: 0.5rem 0;
}
.progress__indicator--wrapper .progress__indicator span {
  display: block;
  height: 100%;
  background-color: #000046;
}

.plus {
  color: #FFFFFF;
}

body {
  background-color: #0616B6;
}

.container {
  width: 95%;
  max-width: 1500px;
  margin: auto;
}

.title {
  font-size: 2.75rem;
  color: #FFFFFF;
  font-family: "Brandon-Grotesque";
  font-weight: black;
  font-style: normal;
}

.paragraph {
  color: #FFDE00;
  font-size: 2rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
}

.connect__wallet--link {
  color: #FFDE00;
  font-size: 2rem;
  padding: 0.35em 0.75em;
  border: solid 0.1rem #FFDE00;
  border-radius: 0.5rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
}
.connect__wallet--link:hover {
  background-color: #FFDE00;
  color: #00008C;
}

.form__link {
  color: #000000;
  border: none;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
  font-size: 1.7rem;
  background-color: #FFDE00;
  display: inline-block;
  padding: 0.75rem 4rem;
  border-radius: 0.4rem;
}
.form__link:hover {
  background-color: #CDB410;
}

.progress__indicator--wrapper {
  padding-bottom: 5rem;
}
.progress__indicator--wrapper small {
  font-size: 1.3rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
  color: #FFDE00;
}
.progress__indicator--wrapper .progress__indicator {
  border: solid 0.025rem #3842C1;
  max-width: 25rem;
  height: 1rem;
  background-color: #FFFFFF;
  margin: 0.5rem 0;
}
.progress__indicator--wrapper .progress__indicator span {
  display: block;
  height: 100%;
  background-color: #000046;
}

.plus {
  color: #FFFFFF;
}

#header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding: 3.3rem 0;
}

body {
  background-color: #0616B6;
}

.container {
  width: 95%;
  max-width: 1500px;
  margin: auto;
}

.title {
  font-size: 2.75rem;
  color: #FFFFFF;
  font-family: "Brandon-Grotesque";
  font-weight: black;
  font-style: normal;
}

.paragraph {
  color: #FFDE00;
  font-size: 2rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
}

.connect__wallet--link {
  color: #FFDE00;
  font-size: 2rem;
  padding: 0.35em 0.75em;
  border: solid 0.1rem #FFDE00;
  border-radius: 0.5rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
}
.connect__wallet--link:hover {
  background-color: #FFDE00;
  color: #00008C;
}

.form__link {
  color: #000000;
  border: none;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
  font-size: 1.7rem;
  background-color: #FFDE00;
  display: inline-block;
  padding: 0.75rem 4rem;
  border-radius: 0.4rem;
}
.form__link:hover {
  background-color: #CDB410;
}

.progress__indicator--wrapper {
  padding-bottom: 5rem;
}
.progress__indicator--wrapper small {
  font-size: 1.3rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
  color: #FFDE00;
}
.progress__indicator--wrapper .progress__indicator {
  border: solid 0.025rem #3842C1;
  max-width: 25rem;
  height: 1rem;
  background-color: #FFFFFF;
  margin: 0.5rem 0;
}
.progress__indicator--wrapper .progress__indicator span {
  display: block;
  height: 100%;
  background-color: #000046;
}

.plus {
  color: #FFFFFF;
}

#footer {
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
}
#footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding: 3.5rem 0;
  border-top: solid 1px #3842C1;
}
#footer .container .footer__item.copyright {
  font-size: 1.7rem;
  color: #FFFFFF;
}
#footer .container .footer__item.socials {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
}
#footer .container .footer__item.socials .socials__image {
  width: 2.7rem;
  height: 2.7rem;
}
#footer .container .footer__item.socials .socials__image:nth-child(2) {
  background-color: #F74100;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
#footer .container .footer__item.socials .socials__image:nth-child(3) {
  background-color: #5C6BC0;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}

body {
  background-color: #0616B6;
}

.container {
  width: 95%;
  max-width: 1500px;
  margin: auto;
}

.title {
  font-size: 2.75rem;
  color: #FFFFFF;
  font-family: "Brandon-Grotesque";
  font-weight: black;
  font-style: normal;
}

.paragraph {
  color: #FFDE00;
  font-size: 2rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
}

.connect__wallet--link {
  color: #FFDE00;
  font-size: 2rem;
  padding: 0.35em 0.75em;
  border: solid 0.1rem #FFDE00;
  border-radius: 0.5rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
}
.connect__wallet--link:hover {
  background-color: #FFDE00;
  color: #00008C;
}

.form__link {
  color: #000000;
  border: none;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
  font-size: 1.7rem;
  background-color: #FFDE00;
  display: inline-block;
  padding: 0.75rem 4rem;
  border-radius: 0.4rem;
}
.form__link:hover {
  background-color: #CDB410;
}

.progress__indicator--wrapper {
  padding-bottom: 5rem;
}
.progress__indicator--wrapper small {
  font-size: 1.3rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
  color: #FFDE00;
}
.progress__indicator--wrapper .progress__indicator {
  border: solid 0.025rem #3842C1;
  max-width: 25rem;
  height: 1rem;
  background-color: #FFFFFF;
  margin: 0.5rem 0;
}
.progress__indicator--wrapper .progress__indicator span {
  display: block;
  height: 100%;
  background-color: #000046;
}

.plus {
  color: #FFFFFF;
}

.poolCard {
  width: 32rem;
  padding: 2.4rem;
  background-color: #00008C;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
  border: solid 0.1rem #0616B6;
  border-radius: 0.4rem;
}
.poolCard__item .profile {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  background-color: #EDEDED;
}
.poolCard__item .profile__info {
  margin-left: 1rem;
}
.poolCard__item .profile__info h3 {
  font-size: 1.6rem;
  color: #FFFFFF;
}
.poolCard__item .profile__info p {
  font-size: 1.2rem;
  color: #FFDE00;
  font-style: italic;
}
.poolCard__item .btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.6rem;
  border: none;
  background-color: #3AFF00;
  color: #000000;
  padding: 0.7rem 1.4rem;
  border-radius: 5rem;
  margin: 0 0 0 auto;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
}
.poolCard__item .item h4 {
  font-size: 1.4rem;
  color: #FFFFFF;
  font-weight: normal;
}
.poolCard__item .item h2 {
  font-size: 1.9rem;
  color: #FFDE00;
}
.poolCard__item:first-child {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
}
.poolCard__item:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
  margin: 1.9rem 0;
}
.poolCard__item:last-child {
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
}
.poolCard__item:last-child h5 {
  color: #FFFFFF;
  font-size: 1.2rem;
}
.poolCard__item:last-child .bar__indicator {
  height: 1rem;
  background-color: #FFFFFF;
  margin: 0.5rem 0;
}
.poolCard__item:last-child .bar__indicator span {
  display: block;
  height: 100%;
  background-color: #CDB410;
}
.poolCard__item:last-child div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  color: #FFF3A4;
  font-family: "Proxima Soft";
  font-weight: medium;
  font-size: 1rem;
  font-style: italic;
}

body {
  background-color: #0616B6;
}

.container {
  width: 95%;
  max-width: 1500px;
  margin: auto;
}

.title {
  font-size: 2.75rem;
  color: #FFFFFF;
  font-family: "Brandon-Grotesque";
  font-weight: black;
  font-style: normal;
}

.paragraph {
  color: #FFDE00;
  font-size: 2rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
}

.connect__wallet--link {
  color: #FFDE00;
  font-size: 2rem;
  padding: 0.35em 0.75em;
  border: solid 0.1rem #FFDE00;
  border-radius: 0.5rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
}
.connect__wallet--link:hover {
  background-color: #FFDE00;
  color: #00008C;
}

.form__link {
  color: #000000;
  border: none;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
  font-size: 1.7rem;
  background-color: #FFDE00;
  display: inline-block;
  padding: 0.75rem 4rem;
  border-radius: 0.4rem;
}
.form__link:hover {
  background-color: #CDB410;
}

.progress__indicator--wrapper {
  padding-bottom: 5rem;
}
.progress__indicator--wrapper small {
  font-size: 1.3rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
  color: #FFDE00;
}
.progress__indicator--wrapper .progress__indicator {
  border: solid 0.025rem #3842C1;
  max-width: 25rem;
  height: 1rem;
  background-color: #FFFFFF;
  margin: 0.5rem 0;
}
.progress__indicator--wrapper .progress__indicator span {
  display: block;
  height: 100%;
  background-color: #000046;
}

.plus {
  color: #FFFFFF;
}

.projectInfo {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  border-bottom: solid 0.1rem #3842C1;
}
.projectInfo__item:first-child {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
}
.projectInfo__item {
  font-size: 1.9rem;
  color: #FFFFFF;
  padding: 2rem 0;
}
.projectInfo__item .profile {
  width: 4.1rem;
  height: 4.1rem;
  border-radius: 50%;
  background-color: #EDEDED;
}
.projectInfo__item .profile__info {
  margin-left: 1rem;
}
.projectInfo__item .profile__info h3 {
  font-size: 1.6rem;
  color: #FFFFFF;
}
.projectInfo__item .profile__info p {
  font-size: 1.2rem;
  color: #FFDE00;
  font-style: italic;
}
.projectInfo .projectInfo__item.status {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  color: #3AFF00;
  font-weight: normal;
}

.search__form {
  margin-top: 10rem;
}
.search__form .form--group {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
}
.search__form .form--group .btn {
  height: 6.4rem;
  min-width: 10rem;
  flex-grow: 1;
  background-color: transparent;
  border: solid 0.1rem #3842C1;
}
.search__form .form--group .searchInput {
  height: 6.4rem;
  flex-grow: 15;
  background-color: transparent;
  border: solid 0.1rem #3842C1;
  padding: 0 4rem;
  font-size: 2rem;
  color: #FFFFFF;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
  outline: none;
}

::-moz-placeholder {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.7450980392);
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
}

:-ms-input-placeholder {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.7450980392);
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
}

::placeholder {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.7450980392);
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
}

@media screen and (max-width: 650px) {
  .search__form .form--group .btn {
    height: 4.5rem;
    min-width: 6rem;
  }
  .search__form .form--group .searchInput {
    height: 4.5rem;
    font-size: 1.5rem;
  }
  ::-moz-placeholder {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.7450980392);
    font-family: "Brandon-Grotesque";
    font-weight: normal;
    font-style: normal;
  }
  :-ms-input-placeholder {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.7450980392);
    font-family: "Brandon-Grotesque";
    font-weight: normal;
    font-style: normal;
  }
  ::placeholder {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.7450980392);
    font-family: "Brandon-Grotesque";
    font-weight: normal;
    font-style: normal;
  }
}
body {
  background-color: #0616B6;
}

.container {
  width: 95%;
  max-width: 1500px;
  margin: auto;
}

.title {
  font-size: 2.75rem;
  color: #FFFFFF;
  font-family: "Brandon-Grotesque";
  font-weight: black;
  font-style: normal;
}

.paragraph {
  color: #FFDE00;
  font-size: 2rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
}

.connect__wallet--link {
  color: #FFDE00;
  font-size: 2rem;
  padding: 0.35em 0.75em;
  border: solid 0.1rem #FFDE00;
  border-radius: 0.5rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
}
.connect__wallet--link:hover {
  background-color: #FFDE00;
  color: #00008C;
}

.form__link {
  color: #000000;
  border: none;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
  font-size: 1.7rem;
  background-color: #FFDE00;
  display: inline-block;
  padding: 0.75rem 4rem;
  border-radius: 0.4rem;
}
.form__link:hover {
  background-color: #CDB410;
}

.progress__indicator--wrapper {
  padding-bottom: 5rem;
}
.progress__indicator--wrapper small {
  font-size: 1.3rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
  color: #FFDE00;
}
.progress__indicator--wrapper .progress__indicator {
  border: solid 0.025rem #3842C1;
  max-width: 25rem;
  height: 1rem;
  background-color: #FFFFFF;
  margin: 0.5rem 0;
}
.progress__indicator--wrapper .progress__indicator span {
  display: block;
  height: 100%;
  background-color: #000046;
}

.plus {
  color: #FFFFFF;
}

.tokenomics {
  border: solid 2px #000A8B;
  border-radius: 0.25rem;
}
.tokenomics .heading {
  background: linear-gradient(135deg, #0819B8, #2637DC, #0819B8);
  padding: 1.4rem 3.8rem;
}
.tokenomics .heading .title {
  font-size: 1.8rem;
  font-weight: normal;
  text-transform: uppercase;
}
.tokenomics .content__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  padding: 1.5rem 3.8rem;
  background-color: #00008C;
  border-bottom: solid 1px #0616B6;
}
.tokenomics .content__item .name, .tokenomics .content__item .value {
  font-size: 1.4rem;
  color: #FFFFFF;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
}
.tokenomics .content__item:last-child {
  border: none;
}

body {
  background-color: #0616B6;
}

.container {
  width: 95%;
  max-width: 1500px;
  margin: auto;
}

.title {
  font-size: 2.75rem;
  color: #FFFFFF;
  font-family: "Brandon-Grotesque";
  font-weight: black;
  font-style: normal;
}

.paragraph {
  color: #FFDE00;
  font-size: 2rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
}

.connect__wallet--link {
  color: #FFDE00;
  font-size: 2rem;
  padding: 0.35em 0.75em;
  border: solid 0.1rem #FFDE00;
  border-radius: 0.5rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
}
.connect__wallet--link:hover {
  background-color: #FFDE00;
  color: #00008C;
}

.form__link {
  color: #000000;
  border: none;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
  font-size: 1.7rem;
  background-color: #FFDE00;
  display: inline-block;
  padding: 0.75rem 4rem;
  border-radius: 0.4rem;
}
.form__link:hover {
  background-color: #CDB410;
}

.progress__indicator--wrapper {
  padding-bottom: 5rem;
}
.progress__indicator--wrapper small {
  font-size: 1.3rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
  color: #FFDE00;
}
.progress__indicator--wrapper .progress__indicator {
  border: solid 0.025rem #3842C1;
  max-width: 25rem;
  height: 1rem;
  background-color: #FFFFFF;
  margin: 0.5rem 0;
}
.progress__indicator--wrapper .progress__indicator span {
  display: block;
  height: 100%;
  background-color: #000046;
}

.plus {
  color: #FFFFFF;
}

.projectMainInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.projectMainInfo__item:nth-child(2) .title {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.projectMainInfo__item:nth-child(2) .details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 3.5rem;
  width: 25rem;
}
.projectMainInfo__item:nth-child(2) .details__info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font-size: 1.1rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
  color: #FFFFFF;
}
.projectMainInfo__item:nth-child(3) {
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas: "one two" "three three";
  justify-items: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 4rem;
}
.projectMainInfo__item:nth-child(3) .token__info:first-child {
  grid-area: one;
}
.projectMainInfo__item:nth-child(3) .token__info:nth-child(2) {
  grid-area: two;
}
.projectMainInfo__item:nth-child(3) .token__info:last-child {
  grid-area: three;
}
.projectMainInfo__item:nth-child(3) .token__info {
  display: grid;
  gap: 2rem;
}
.projectMainInfo__item:nth-child(3) .token__info .item:first-child {
  background: linear-gradient(135deg, #0819B8, #2637DC, #0819B8);
  border: solid 0.2rem #0819B8;
  border-radius: 0.2rem;
  padding: 0.5rem 1.8rem;
  width: 16.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.projectMainInfo__item:nth-child(3) .token__info .item:first-child .name {
  font-size: 1.4rem;
  padding: 0.2em 0;
  color: #FFFFFF;
}
.projectMainInfo__item:nth-child(3) .token__info .item:first-child .value {
  font-size: 1.9rem;
  padding: 0.2em 0;
  color: #FFDE00;
}
.projectMainInfo__item:nth-child(3) .token__info .item:last-child {
  text-align: center;
  color: #FFFFFF;
  font-size: 1.9rem;
}
.projectMainInfo__item:nth-child(3) .token__info .item:last-child span {
  font-size: 1.4rem;
  font-weight: normal;
}
.projectMainInfo__item:last-child {
  max-width: 25rem;
  position: relative;
}
.projectMainInfo__item:last-child img:last-child {
  position: absolute;
  bottom: 0;
  left: 10rem;
}

.home .featured__pool {
  background-color: #00008C;
  padding: 5rem 0;
}
.home .featured__pool .container .featured__pool--item.text .primary {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2.7rem;
  padding-bottom: 5rem;
}
.home .featured__pool .container .featured__pool--item.text .primary .link {
  font-family: "Proxima Soft";
  font-weight: bold;
  font-style: normal;
  background-color: #FFDE00;
  font-size: 1.125rem;
  padding: 1rem 1.53rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  color: #000000;
}
.home .featured__pool .container .featured__pool--item.text .primary .link:hover {
  background-color: #CDB410;
}
.home .featured__pool .container .featured__pool--item.text .primary .link img {
  background-color: #FFF08B;
  padding: 0.4rem;
  border-radius: 0.4rem;
}
.home .featured__pool .container .featured__pool--item.text .secondary__item .title, .home .featured__pool .container .featured__pool--item.text .secondary__item .paragraph {
  padding: 0.5rem 0;
}
.home .featured__pool .container .featured__pool--item.text .secondary__item .title {
  font-weight: bold;
}
.home .featured__pool .container .featured__pool--item.text .secondary__item .paragraph {
  padding-bottom: 2rem;
}
.home .featured__pool .container .featured__pool--item.text .secondary__item .sale__info--item div {
  color: #FFFFFF;
  font-size: 1.9rem;
}
.home .featured__pool .container .featured__pool--item.text .secondary__item .sale__info--item div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font-family: "Brandon-Grotesque";
  font-weight: bold;
  font-style: normal;
}
.home .featured__pool .container .featured__pool--item.text .secondary__item .sale__info--item div:last-child {
  font-size: 1.7rem;
  color: #FFDE00;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
}
.home .featured__pool .container .featured__pool--item.image {
  display: block;
}
.home .upcomingPools {
  padding: 5rem 0;
}
.home .upcomingPools .title {
  padding-bottom: 3rem;
  text-align: center;
  text-transform: uppercase;
}
.home .upcomingPools__item {
  display: grid;
  gap: 3rem;
}
.home .projects {
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
  margin-bottom: 8.7rem;
  overflow-x: scroll;
}
.home .projects__item {
  min-width: 80rem;
  padding: 3.2rem 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}
.home .projects__item h5 {
  color: #FFFFFF;
  font-size: 1.6rem;
}
.home .projects__info {
  background-color: #00008C;
  min-width: 80rem;
}

body {
  background-color: #0616B6;
}

.container {
  width: 95%;
  max-width: 1500px;
  margin: auto;
}

.title {
  font-size: 2.75rem;
  color: #FFFFFF;
  font-family: "Brandon-Grotesque";
  font-weight: black;
  font-style: normal;
}

.paragraph {
  color: #FFDE00;
  font-size: 2rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
}

.connect__wallet--link {
  color: #FFDE00;
  font-size: 2rem;
  padding: 0.35em 0.75em;
  border: solid 0.1rem #FFDE00;
  border-radius: 0.5rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
}
.connect__wallet--link:hover {
  background-color: #FFDE00;
  color: #00008C;
}

.form__link {
  color: #000000;
  border: none;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
  font-size: 1.7rem;
  background-color: #FFDE00;
  display: inline-block;
  padding: 0.75rem 4rem;
  border-radius: 0.4rem;
}
.form__link:hover {
  background-color: #CDB410;
}

.progress__indicator--wrapper {
  padding-bottom: 5rem;
}
.progress__indicator--wrapper small {
  font-size: 1.3rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
  color: #FFDE00;
}
.progress__indicator--wrapper .progress__indicator {
  border: solid 0.025rem #3842C1;
  max-width: 25rem;
  height: 1rem;
  background-color: #FFFFFF;
  margin: 0.5rem 0;
}
.progress__indicator--wrapper .progress__indicator span {
  display: block;
  height: 100%;
  background-color: #000046;
}

.plus {
  color: #FFFFFF;
}

.project__top {
  background-color: #00008C;
  padding: 5rem 0;
}
.project__top .container {
  margin-bottom: 5rem;
  padding: 3.6rem 0;
}
.project__down {
  padding: 5rem 0;
}
.project__down article:nth-child(2) .project__description .title {
  font-size: 2.4rem;
  margin-bottom: 0.9rem;
  text-transform: uppercase;
}
.project__down article:nth-child(2) .project__description .paragraph {
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.7803921569);
}
.project__down article:nth-child(2) .project__description .connect__wallet--link {
  display: inline-block;
  margin: 2.4rem 0;
  font-size: 1.6rem;
}
.project__down article:nth-child(2) .alert {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.85rem;
  border: solid 0.2rem #00008C;
  border-radius: 0.2rem;
  padding: 2.5rem;
  background: linear-gradient(135deg, #00008C, #00008C, #101FB1, #00008C, #00008C);
}
.project__down article:nth-child(2) .alert__image {
  display: block;
}
.project__down article:nth-child(2) .alert__text .title {
  font-size: 1.4rem;
}
.project__down article:nth-child(2) .alert__text .paragraph {
  color: rgba(255, 255, 255, 0.7176470588);
  font-size: 1.4rem;
}

body {
  background-color: #0616B6;
}

.container {
  width: 95%;
  max-width: 1500px;
  margin: auto;
}

.title {
  font-size: 2.75rem;
  color: #FFFFFF;
  font-family: "Brandon-Grotesque";
  font-weight: black;
  font-style: normal;
}

.paragraph {
  color: #FFDE00;
  font-size: 2rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
}

.connect__wallet--link {
  color: #FFDE00;
  font-size: 2rem;
  padding: 0.35em 0.75em;
  border: solid 0.1rem #FFDE00;
  border-radius: 0.5rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
}
.connect__wallet--link:hover {
  background-color: #FFDE00;
  color: #00008C;
}

.form__link {
  color: #000000;
  border: none;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
  font-size: 1.7rem;
  background-color: #FFDE00;
  display: inline-block;
  padding: 0.75rem 4rem;
  border-radius: 0.4rem;
}
.form__link:hover {
  background-color: #CDB410;
}

.progress__indicator--wrapper {
  padding-bottom: 5rem;
}
.progress__indicator--wrapper small {
  font-size: 1.3rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
  color: #FFDE00;
}
.progress__indicator--wrapper .progress__indicator {
  border: solid 0.025rem #3842C1;
  max-width: 25rem;
  height: 1rem;
  background-color: #FFFFFF;
  margin: 0.5rem 0;
}
.progress__indicator--wrapper .progress__indicator span {
  display: block;
  height: 100%;
  background-color: #000046;
}

.plus {
  color: #FFFFFF;
}

.launchProject {
  background-color: #00008C;
  min-height: 100vh;
  display: grid;
}
.launchProject__item {
  position: relative;
  max-width: 105rem;
}
.launchProject__item .link {
  position: absolute;
  top: 3rem;
  right: 4rem;
}
.launchProject__item--info {
  background-color: #000046;
  text-align: center;
}
.launchProject__item--info .text {
  padding-top: 4rem;
  max-width: 36rem;
  margin: auto;
  color: #FFFFFF;
}
.launchProject__item--info .text .title {
  font-size: 2.75rem;
}
.launchProject__item--info .text .paragraph {
  font-size: 1.6rem;
  color: #FFFFFF;
  font-weight: normal;
}
.launchProject__item--form {
  background-color: #0819B8;
}
.launchProject__item--form .form--group {
  padding: 2rem 0;
}
.launchProject__item--form .form--group label {
  display: block;
  font-size: 1.5rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
  color: #FFDE00;
  padding-bottom: 0.5rem;
}
.launchProject__item--form .form--group label:last-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding-top: 0.5rem;
}
.launchProject__item--form .form--group select, .launchProject__item--form .form--group input {
  width: 100%;
  height: 4rem;
  background-color: #000A8B;
  border: solid 1px #3842C1;
  padding: 0 2rem;
  font-size: 1.6rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
  color: #FFFFFF;
}
.launchProject__item--form .form--group ::-moz-placeholder {
  font-size: 1.3rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
}
.launchProject__item--form .form--group :-ms-input-placeholder {
  font-size: 1.3rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
}
.launchProject__item--form .form--group ::placeholder {
  font-size: 1.3rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
}
.launchProject__item .image {
  padding-top: 4rem;
}

body {
  background-color: #0616B6;
}

.container {
  width: 95%;
  max-width: 1500px;
  margin: auto;
}

.title {
  font-size: 2.75rem;
  color: #FFFFFF;
  font-family: "Brandon-Grotesque";
  font-weight: black;
  font-style: normal;
}

.paragraph {
  color: #FFDE00;
  font-size: 2rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
}

.connect__wallet--link {
  color: #FFDE00;
  font-size: 2rem;
  padding: 0.35em 0.75em;
  border: solid 0.1rem #FFDE00;
  border-radius: 0.5rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
}
.connect__wallet--link:hover {
  background-color: #FFDE00;
  color: #00008C;
}

.form__link {
  color: #000000;
  border: none;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
  font-size: 1.7rem;
  background-color: #FFDE00;
  display: inline-block;
  padding: 0.75rem 4rem;
  border-radius: 0.4rem;
}
.form__link:hover {
  background-color: #CDB410;
}

.progress__indicator--wrapper {
  padding-bottom: 5rem;
}
.progress__indicator--wrapper small {
  font-size: 1.3rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
  color: #FFDE00;
}
.progress__indicator--wrapper .progress__indicator {
  border: solid 0.025rem #3842C1;
  max-width: 25rem;
  height: 1rem;
  background-color: #FFFFFF;
  margin: 0.5rem 0;
}
.progress__indicator--wrapper .progress__indicator span {
  display: block;
  height: 100%;
  background-color: #000046;
}

.plus {
  color: #FFFFFF;
}

.launchProjectSecond__top {
  background-color: #00008C;
  padding: 5rem 0;
}
.launchProjectSecond__top .container .info .progress__indicator--wrapper {
  padding-bottom: 3.5rem;
}
.launchProjectSecond__top .container .info form {
  margin-bottom: 5rem;
}
.launchProjectSecond__top .container .info form .form--group:first-child {
  text-align: center;
  min-height: 17.5rem;
  min-width: 17.5rem;
  border-radius: 0.4rem;
  border: dashed 0.13rem #FFFFFF;
  display: grid;
  place-items: center;
}
.launchProjectSecond__top .container .info form .form--group:first-child input {
  display: none;
}
.launchProjectSecond__top .container .info form .form--group:first-child label {
  height: 2.1rem;
  width: 2.1rem;
  cursor: pointer;
  border: dashed 0.13rem #FFFFFF;
  border-radius: 0.3rem;
  display: grid;
  place-items: center;
}
.launchProjectSecond__top .container .info form .form--group:first-child #imageName {
  color: green;
}
.launchProjectSecond__top .container .info form .form--group:nth-child(2) {
  width: 100%;
}
.launchProjectSecond__top .container .info form .form--group:nth-child(2) .input--group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  padding: 1.75rem 0;
  width: 100%;
  border-bottom: solid 1px #3842C1;
}
.launchProjectSecond__top .container .info form .form--group:nth-child(2) .input--group input {
  background-color: transparent;
  width: 22.5rem;
  border: none;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
  color: #FFFFFF;
  width: 100%;
}
.launchProjectSecond__top .container .info form .form--group:nth-child(2) .input--group input:focus {
  outline: none;
}
.launchProjectSecond__top .container .info form .form--group:nth-child(2) .input--group .input__image {
  background-color: #FFE227;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  border-radius: 50%;
  cursor: pointer;
}
.launchProjectSecond__top .container .info form .form--group:nth-child(2) .input--group .input__image .icon {
  font-size: 0.75rem;
  color: #00008C;
}
.launchProjectSecond__top .container .info form .form--group:nth-child(2) ::-moz-placeholder {
  font-size: 1.4rem;
  color: #FFFFFF;
  opacity: 1;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
}
.launchProjectSecond__top .container .info form .form--group:nth-child(2) :-ms-input-placeholder {
  font-size: 1.4rem;
  color: #FFFFFF;
  opacity: 1;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
}
.launchProjectSecond__top .container .info form .form--group:nth-child(2) ::placeholder {
  font-size: 1.4rem;
  color: #FFFFFF;
  opacity: 1;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
}
.launchProjectSecond__bottom .container {
  padding: 0 2rem;
}
.launchProjectSecond__bottom .form--group.description {
  padding-top: 7.5rem;
  font-size: 1.6rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
}
.launchProjectSecond__bottom .form--group.description textarea {
  background-color: #00008C;
  border: none;
  border-radius: 0.6rem;
  display: block;
  width: 100%;
  color: #FFFFFF;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
  padding: 3rem;
}
.launchProjectSecond__bottom .form--group.description textarea:focus {
  outline: none;
}
.launchProjectSecond__bottom .form--group.description ::-moz-placeholder {
  font-size: 1.6rem;
}
.launchProjectSecond__bottom .form--group.description :-ms-input-placeholder {
  font-size: 1.6rem;
}
.launchProjectSecond__bottom .form--group.description ::placeholder {
  font-size: 1.6rem;
}
.launchProjectSecond__bottom .form--group.description label {
  color: rgba(255, 255, 255, 0.6039215686);
  margin-top: 1rem;
}
.launchProjectSecond__bottom .form--group {
  padding-bottom: 3.2rem;
}
.launchProjectSecond__bottom .form--group label {
  display: block;
  font-family: "Brandon-Grotesque";
  font-weight: medium;
  font-style: normal;
  color: #FFDE00;
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
}
.launchProjectSecond__bottom .form--group input {
  width: 100%;
  background-color: #00008C;
  border: solid 0.1rem #3842C1;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: #FFFFFF;
  border-radius: 0.25rem;
}
.launchProjectSecond__bottom .form--group input:focus {
  outline: none;
}
.launchProjectSecond__bottom .form--group ::-moz-placeholder {
  font-size: 1.6rem;
}
.launchProjectSecond__bottom .form--group :-ms-input-placeholder {
  font-size: 1.6rem;
}
.launchProjectSecond__bottom .form--group ::placeholder {
  font-size: 1.6rem;
}
.launchProjectSecond__bottom .form--group:last-child label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}
.launchProjectSecond__bottom .form--group:last-child label .toggle-icon {
  cursor: pointer;
}
.launchProjectSecond__bottom .commit {
  margin: 3.7rem 0 7rem 0;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .home .featured__pool .container .featured__pool--item.text .primary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.7rem;
  }
  .home .featured__pool .container .featured__pool--item.text .secondary {
    text-align: center;
  }
  .home .featured__pool .container .featured__pool--item.text .secondary__item {
    padding: 3.5rem 0;
  }
  .home .featured__pool .container .featured__pool--item.text .secondary__item .sale__info {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas: "one two" "three three";
    justify-items: center;
  }
  .home .featured__pool .container .featured__pool--item.text .secondary__item .sale__info--item:first-child {
    grid-area: one;
  }
  .home .featured__pool .container .featured__pool--item.text .secondary__item .sale__info--item:nth-child(2) {
    grid-area: two;
  }
  .home .featured__pool .container .featured__pool--item.text .secondary__item .sale__info--item:last-child {
    grid-area: three;
  }
  .home .featured__pool .container .featured__pool--item.text .secondary__item .sale__info--item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding: 0.5rem 0;
  }
  .poolCard {
    width: 100% !important;
  }
  #footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
}
@media screen and (min-width: 651px) {
  .home .featured__pool .container .featured__pool--item.text .primary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.7rem;
  }
  .home .featured__pool .container .featured__pool--item.text .secondary {
    text-align: center;
  }
  .home .featured__pool .container .featured__pool--item.text .secondary__item {
    padding: 3.5rem 0;
  }
  .home .featured__pool .container .featured__pool--item.text .secondary__item .sale__info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }
  .home .featured__pool .container .featured__pool--item.text .secondary__item .sale__info--item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
    padding: 1rem 0;
  }
  .home .featured__pool .container .featured__pool--item.image {
    text-align: center;
  }
  .home .upcomingPools .title {
    text-align: left;
  }
  .home .upcomingPools__item {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
@media screen and (min-width: 1080px) {
  .home .featured__pool .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 0;
  }
  .home .featured__pool .container .featured__pool--item.text .primary {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2.7rem;
  }
  .home .featured__pool .container .featured__pool--item.text .secondary {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 3.6rem;
  }
  .home .featured__pool .container .featured__pool--item.text .secondary__item .sale__info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5.5rem;
  }
  .home .upcomingPools .title {
    text-align: left;
  }
  .home .upcomingPools__item {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1400px) {
  .home .upcomingPools .title {
    text-align: left;
  }
  .home .upcomingPools__item {
    grid-template-columns: repeat(4, 1fr);
  }
}
body {
  background-color: #0616B6;
}

.container {
  width: 95%;
  max-width: 1500px;
  margin: auto;
}

.title {
  font-size: 2.75rem;
  color: #FFFFFF;
  font-family: "Brandon-Grotesque";
  font-weight: black;
  font-style: normal;
}

.paragraph {
  color: #FFDE00;
  font-size: 2rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
}

.connect__wallet--link {
  color: #FFDE00;
  font-size: 2rem;
  padding: 0.35em 0.75em;
  border: solid 0.1rem #FFDE00;
  border-radius: 0.5rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
}
.connect__wallet--link:hover {
  background-color: #FFDE00;
  color: #00008C;
}

.form__link {
  color: #000000;
  border: none;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
  font-size: 1.7rem;
  background-color: #FFDE00;
  display: inline-block;
  padding: 0.75rem 4rem;
  border-radius: 0.4rem;
}
.form__link:hover {
  background-color: #CDB410;
}

.progress__indicator--wrapper {
  padding-bottom: 5rem;
}
.progress__indicator--wrapper small {
  font-size: 1.3rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
  color: #FFDE00;
}
.progress__indicator--wrapper .progress__indicator {
  border: solid 0.025rem #3842C1;
  max-width: 25rem;
  height: 1rem;
  background-color: #FFFFFF;
  margin: 0.5rem 0;
}
.progress__indicator--wrapper .progress__indicator span {
  display: block;
  height: 100%;
  background-color: #000046;
}

.plus {
  color: #FFFFFF;
}

@media screen and (max-width: 650px) {
  .launchProject__item {
    width: 100%;
    height: 100%;
    max-width: 105rem;
    max-height: 58.5rem;
    margin: 0 auto;
  }
  .launchProject__item .link {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  .launchProject__item--info {
    background-color: #000046;
    padding: 15rem 2rem;
    text-align: center;
  }
  .launchProject__item--form {
    padding: 5rem;
    text-align: center;
  }
  .launchProject__item--form .progress__indicator--wrapper .progress__indicator {
    margin: 1rem auto 0 auto;
  }
}
@media screen and (min-width: 651px) {
  .launchProject {
    place-items: center;
  }
  .launchProject__item {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 0;
  }
  .launchProject__item--info {
    width: 33%;
    padding: 17.5rem 4rem 4rem 4rem;
  }
  .launchProject__item--form {
    width: 67%;
    padding: 2.5rem;
  }
  .launchProject__item--form .progress__indicator--wrapper {
    padding: 0 5rem;
  }
  .launchProject__item--form .progress__indicator--wrapper .progress__indicator {
    width: 60%;
  }
  .launchProject__item--form form {
    padding: 0 5rem;
  }
  .launchProject__item--form form .form--group label:last-child {
    justify-content: flex-start !important;
    padding: 1rem;
  }
  .launchProject__item--form .form__link {
    float: right;
  }
}
@media screen and (min-width: 1080px) {
  .launchProject__item--form {
    padding: 5rem;
  }
  .launchProject__item--form .progress__indicator--wrapper {
    padding: 0 10rem;
  }
  .launchProject__item--form .progress__indicator--wrapper .progress__indicator {
    width: 60%;
  }
  .launchProject__item--form form {
    padding: 0 10rem;
  }
}
body {
  background-color: #0616B6;
}

.container {
  width: 95%;
  max-width: 1500px;
  margin: auto;
}

.title {
  font-size: 2.75rem;
  color: #FFFFFF;
  font-family: "Brandon-Grotesque";
  font-weight: black;
  font-style: normal;
}

.paragraph {
  color: #FFDE00;
  font-size: 2rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
}

.connect__wallet--link {
  color: #FFDE00;
  font-size: 2rem;
  padding: 0.35em 0.75em;
  border: solid 0.1rem #FFDE00;
  border-radius: 0.5rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
}
.connect__wallet--link:hover {
  background-color: #FFDE00;
  color: #00008C;
}

.form__link {
  color: #000000;
  border: none;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
  font-size: 1.7rem;
  background-color: #FFDE00;
  display: inline-block;
  padding: 0.75rem 4rem;
  border-radius: 0.4rem;
}
.form__link:hover {
  background-color: #CDB410;
}

.progress__indicator--wrapper {
  padding-bottom: 5rem;
}
.progress__indicator--wrapper small {
  font-size: 1.3rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
  color: #FFDE00;
}
.progress__indicator--wrapper .progress__indicator {
  border: solid 0.025rem #3842C1;
  max-width: 25rem;
  height: 1rem;
  background-color: #FFFFFF;
  margin: 0.5rem 0;
}
.progress__indicator--wrapper .progress__indicator span {
  display: block;
  height: 100%;
  background-color: #000046;
}

.plus {
  color: #FFFFFF;
}

@media screen and (max-width: 650px) {
  .launchProjectSecond__top .container .info .progress__indicator--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .launchProjectSecond__top .container .info .progress__indicator--wrapper .progress__indicator {
    width: 100%;
  }
  .launchProjectSecond__top .container .info form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.6rem;
    text-align: center;
    padding: 0 4rem;
  }
}
@media screen and (min-width: 651px) {
  .launchProjectSecond__top .container .info .progress__indicator--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .launchProjectSecond__top .container .info .progress__indicator--wrapper .progress__indicator {
    width: 100%;
  }
  .launchProjectSecond__top .container .info form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.6rem;
    text-align: center;
  }
  .launchProjectSecond__top .container .info form .form--group:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 8rem;
         column-gap: 8rem;
  }
  .launchProjectSecond__top .container .info form .form--group:nth-child(2) .title {
    text-align: left;
  }
  .launchProjectSecond__top .container .image {
    text-align: center;
  }
  .launchProjectSecond__bottom .container {
    padding: 0;
  }
  .launchProjectSecond__bottom .container .item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 4rem;
         column-gap: 4rem;
  }
}
@media screen and (min-width: 1080px) {
  .launchProjectSecond__top .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0;
  }
  .launchProjectSecond__top .container .info {
    width: 65%;
  }
  .launchProjectSecond__top .container .info .progress__indicator--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0;
  }
  .launchProjectSecond__top .container .info form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 3.6rem;
  }
  .launchProjectSecond__top .container .image {
    align-self: flex-end;
    width: 30%;
  }
  .launchProjectSecond__bottom .container {
    margin-top: 7.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 6.8rem;
  }
  .launchProjectSecond__bottom .container .form--group.description {
    padding-top: 0;
    width: 50%;
  }
  .launchProjectSecond__bottom .container .item {
    width: 50%;
  }
}
body {
  background-color: #0616B6;
}

.container {
  width: 95%;
  max-width: 1500px;
  margin: auto;
}

.title {
  font-size: 2.75rem;
  color: #FFFFFF;
  font-family: "Brandon-Grotesque";
  font-weight: black;
  font-style: normal;
}

.paragraph {
  color: #FFDE00;
  font-size: 2rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
}

.connect__wallet--link {
  color: #FFDE00;
  font-size: 2rem;
  padding: 0.35em 0.75em;
  border: solid 0.1rem #FFDE00;
  border-radius: 0.5rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
}
.connect__wallet--link:hover {
  background-color: #FFDE00;
  color: #00008C;
}

.form__link {
  color: #000000;
  border: none;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
  font-size: 1.7rem;
  background-color: #FFDE00;
  display: inline-block;
  padding: 0.75rem 4rem;
  border-radius: 0.4rem;
}
.form__link:hover {
  background-color: #CDB410;
}

.progress__indicator--wrapper {
  padding-bottom: 5rem;
}
.progress__indicator--wrapper small {
  font-size: 1.3rem;
  font-family: "Brandon-Grotesque";
  font-weight: normal;
  font-style: normal;
  color: #FFDE00;
}
.progress__indicator--wrapper .progress__indicator {
  border: solid 0.025rem #3842C1;
  max-width: 25rem;
  height: 1rem;
  background-color: #FFFFFF;
  margin: 0.5rem 0;
}
.progress__indicator--wrapper .progress__indicator span {
  display: block;
  height: 100%;
  background-color: #000046;
}

.plus {
  color: #FFFFFF;
}

@media screen and (max-width: 650px) {
  .project__top .container .projectMainInfo__item:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
  }
  .project__top .container .projectMainInfo__item:nth-child(2) .details {
    padding-left: 2.5rem;
  }
  .project__down .project__tokenomics {
    margin-bottom: 5rem;
  }
}
@media screen and (min-width: 651px) {
  .project__top .container .projectMainInfo__item:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
  }
  .project__top .container .projectMainInfo__item:nth-child(2) .details {
    padding-left: 2.5rem;
  }
  .project__top .container .projectMainInfo__item:nth-child(3) {
    grid-template-areas: "one two three";
  }
  .project__down .project__tokenomics {
    margin-bottom: 5rem;
  }
}
@media screen and (min-width: 1080px) {
  .project__down {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0;
  }
  .project__down .project__tokenomics {
    width: 37.5%;
  }
  .project__down article:last-child {
    width: 57.5%;
  }
}
@media screen and (min-width: 1250px) {
  .project__top .container .projectMainInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }
}/*# sourceMappingURL=main.css.map */