@import '../../sass/basis';
@import '../../sass/variables';

.launchProject{
    background-color: $primaryDeepBlue;
    min-height: 100vh;

    display: grid;

    &__item{
        position: relative;
        max-width: 105rem;
        .link{
            position: absolute;
            top: 3rem;
            right: 4rem;
        }
        &--info{
            background-color: $secondaryVeryDeepBlue;
            text-align: center;

            .text{
                padding-top: 4rem;
                max-width: 36rem;
                margin: auto;
                color: #FFFFFF;

                .title{
                    font-size: 2.75rem;
                }

                .paragraph{
                    font-size: 1.6rem;
                    color: #FFFFFF;
                    font-weight: normal;
                }
            }
        }

        &--form{
            background-color: $secondaryBlue;

            .form--group{
                padding: 2rem 0;
                label{
                    display: block;
                    font-size: 1.5rem;
                    font-family: 'Brandon-Grotesque';
                    font-weight: normal;
                    font-style: normal;
                    color: $primaryYellow;
                    padding-bottom: .5rem;
                }

                label:last-child{
                    @include flexBox(row, center, center, .5rem);
                    padding-top: .5rem;
                }

                select,input{
                    width: 100%;
                    height: 4rem;
                    background-color: $secondaryDeepBlue;
                    border: solid 1px $border;
                    padding: 0 2rem;
                    font-size: 1.6rem;
                    font-family: 'Brandon-Grotesque';
                    font-weight: normal;
                    font-style: normal;
                    color: #FFFFFF;
                }

                ::placeholder{
                    font-size: 1.3rem;
                    font-family: 'Brandon-Grotesque';
                    font-weight: normal;
                    font-style: normal;
                }
            }
        }

        .image{
            padding-top: 4rem;
        }
    }
}
