@import '../../sass//variables';
@import '../../sass//basis';

.poolCard{
    width: 32rem;
    padding: 2.4rem;
    background-color: $primaryDeepBlue;
    font-family: 'Brandon-Grotesque';
    font-weight: normal;
    font-style: normal;
    border: solid .1rem $primaryBlue;
    border-radius: .4rem;

    &__item{
        .profile{
            width: 4.8rem;
            height: 4.8rem;
            border-radius: 50%;
            background-color: $secondarywhite;
        }

        .profile__info{
            margin-left: 1rem;
            h3{
                font-size: 1.6rem;
                color: #FFFFFF;
            }

            p{
                font-size: 1.2rem;
                color: $primaryYellow;
                font-style: italic;
            }
        }

        .btn{
            @include flexBox(row, space-between, center, .6rem);
            border: none;
            background-color: $secondaryGreen;
            color: #000000;
            padding: .7rem 1.4rem;
            border-radius: 5rem;
            margin: 0 0 0 auto;
            font-family: 'Brandon-Grotesque';
            font-weight: normal;
            font-style: normal;
        }

        .item{
            h4{
                font-size: 1.4rem;
                color: #FFFFFF;
                font-weight: normal;
            }

            h2{
                font-size: 1.9rem;
                color: $primaryYellow;
            }
        }
    }

    &__item:first-child{
        @include flexBox(row, flex-start, center);
    }

    &__item:nth-child(2){
        @include flexBox(row, space-between);
        margin: 1.9rem 0;
    }

    &__item:last-child{
        font-family: 'Brandon-Grotesque';
        font-weight: normal;
        font-style: normal;

        h5{
            color: #FFFFFF;
            font-size: 1.2rem;
        }

        .bar__indicator{
            height: 1rem;
            background-color: #FFFFFF;
            margin: .5rem 0;

            span{
                display: block;
                height: 100%;
                background-color: $secondaryDeepYellow;
            }
        }

        div{
            @include flexBox(row, space-between, center);
            color: $secondaryLightYellow;
            font-family: 'Proxima Soft';
            font-weight: medium;
            font-size: 1rem;
            font-style: italic;
        }
    }

}
