@import '../../sass/basis';
@import '../../sass/variables';

#footer{
    font-family: 'Brandon-Grotesque';
    font-weight: normal;
    font-style: normal;
    .container{
        @include flexBox(row, space-between, center);   
        padding: 3.5rem 0;
        border-top: solid 1px #FFFFFF;
        
        .footer__item.copyright{
            font-size: 1.7rem;
            color: $borderLight;
        }

        .footer__item.socials{
            @include flexBox(row, flex-start, flex-start, 1.5rem);

            .socials__image{
                width: 2.7rem;
                height: 2.7rem;
            }

            .socials__image:nth-child(2){
                background-color: #F74100;
                border-radius: 50%;
                @include flexBox(row, center, center);
            }

            .socials__image:nth-child(3){
                background-color: #5C6BC0;
                border-radius: 50%;
                @include flexBox(row, center, center);
            }

        }
    }
}